@model PoliScrum.Models.UserStory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserStory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CriteriosAceptacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CriteriosAceptacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrdenPrioridad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrdenPrioridad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DuracionEstimada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuracionEstimada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserStoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
