@model PoliScrum.Models.Proyecto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProyectoEstado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProyectoEstado.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFinEstimada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFinEstimada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
    </dl>

    <h5>Sprints</h5>
    <hr />
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin Estimada</th>
                    <th>Duración Estimada</th>
                    <th>Fecha Fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sprints) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SprintId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFinEstimada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DuracionEstimada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFin)
                        </td>
                        <td>
                            <a asp-controller="Sprint" asp-action="Edit" asp-route-id="@item.SprintId"><span class="fas fa-edit"></span></a> |
                            <a asp-controller="Sprint" asp-action="Details" asp-route-id="@item.SprintId"><span class="fas fa-file-alt"></span></a> |
                            <a asp-controller="Sprint" asp-action="Delete" asp-route-id="@item.SprintId"><span class="fas fa-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h5>Product Backlog</h5>
    <hr />
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Prioridad</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProductBacklog) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserStoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrdenPrioridad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFin)
                        </td>
                        <td>
                            <a asp-controller="UserStory" asp-action="Edit" asp-route-id="@item.UserStoryId"><span class="fas fa-edit"></span></a> |
                            <a asp-controller="UserStory" asp-action="Details" asp-route-id="@item.UserStoryId"><span class="fas fa-file-alt"></span></a> |
                            <a asp-controller="UserStory" asp-action="Delete" asp-route-id="@item.UserStoryId"><span class="fas fa-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProyectoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
