@model IEnumerable<PoliScrum.Models.Proyecto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinEstimada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProyectoEstado.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinEstimada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProyectoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProyectoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProyectoId">Delete</a> |
                <a asp-controller="Dashboard" asp-action="ProductBacklog" asp-route-id="@item.ProyectoId"><span class="fas fa-chart-line"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
