@page
@model PoliScrum.Pages.Usuarios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.FechaNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.FechaNacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.CorreoElectronico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.CorreoElectronico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Contrasena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Contrasena)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Usuario.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
