@page
@model PoliScrum.Pages.Usuarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.FechaNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.FechaNacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.CorreoElectronico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.CorreoElectronico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Contrasena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Contrasena)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usuario.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
