@page
@model PoliScrum.Pages.Usuarios.IndexModel

@{
    ViewData["Title"] = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    <a asp-page="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Contrasena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usuario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
