@page
@model PoliScrum.Pages.UserStories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HistoriaUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HistoriaUsuario.titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HistoriaUsuario.titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HistoriaUsuario.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HistoriaUsuario.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HistoriaUsuario.CriterioAceptacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HistoriaUsuario.CriterioAceptacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HistoriaUsuario.Orden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HistoriaUsuario.Orden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HistoriaUsuario.DuracionEstimada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HistoriaUsuario.DuracionEstimada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HistoriaUsuario.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HistoriaUsuario.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HistoriaUsuario.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
