@page
@model PoliScrum.Pages.UserStories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HistoriaUsuario[0].titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoriaUsuario[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoriaUsuario[0].CriterioAceptacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoriaUsuario[0].Orden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoriaUsuario[0].DuracionEstimada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoriaUsuario[0].Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HistoriaUsuario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriterioAceptacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracionEstimada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
